h1 {
    text-align: center;
    padding: 30px;
}
.thisone {
    background-color: silver;
    border-radius: 10px;
}
header nav ul {
    display: inline-block;
    margin-left: 170px;
}
body {
    background-color: lightcyan;
}
ul a {
    color: white;
}
footer nav ul {
    display: inline-block;
    margin-left: 250px;
}
footer nav ul a {
    color:white;
}
.box {
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
}
.box .contenebox{
    padding-left: 40px;
}
.box .contenebox h2 {
    margin: 0;
    padding-left: 0;
    color: darkcyan;
}
.box .contenebox p {
    text-align: justify;
}
img {
    border-radius: 60px;
    height: 380px;
    width: 650px;
    padding: 40px;
}
.userImg h2 {
    text-align: center;
}

